@import '../vars'
@import '../mixins'
@import '../helpers'

.Home
  @extends .view-wrapper
  background $REVOLVER

.Home-menuTitle
  font-family 'Oswald', sans-serif
  color rgba($WHITE, 0.56)
  font-size rem(18px)
  letter-spacing rem(1px)

.Home-menuContainer
  absCenter()
  top 65%

.Home .GenericMenu-item
  display inline-block

.Home-gameLogo
  width 100vw
  height 60%
  absCenter(true, false)
  +above(4)
    width 50vw
