@import '../mixins'

.GameLogo
  min-width 300px
  min-height 300px
  pointer-events none
  margin auto
  > svg
    size 50%
    absCenter()
  > canvas
    position: absolute
    size 100%
    left 0
    top 0
