.GenericMenu
  padding 0
  list-style none

.GenericMenu-listItem
  overflow hidden
  > a:focus
    outline 0
  > a
    font-size 2.5rem
    text-decoration none

.GenericMenu-listItem--active
  > a
    opacity 1
