@import '../vars'
@import '../mixins'

$borderSize = 2px

.GenericMenu
  color rgba($WHITE, 0.4)
  transform translate3d(0, 0, 0px)
  padding 0
  list-style none

.GenericMenu-item
  margin 0 4px
  border-radius 28px
  border $borderSize solid transparent
  &:focus
    outline 0
  &:hover
    color $WHITE

.GenericMenu-item.GenericMenu-item--active
  color $MILAN
  border-color rgba($MILAN, 1.0)
  opacity 1
  &:hover
    background $MILAN
    color $REVOLVER
