@import 'sanitize.css'
@import './vars'

#app
  background $CINDER
  position relative
  width 100vw
  height 100vh
  min-height 640px
  font-family 'Teko', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  overflow hidden
  margin 0

.hidden
  display none