@import 'sanitize.css'
@import './vars'

#app
  width 100vw
  height 100vh
  font-family 'Teko', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-align center
  background $cinder
  overflow hidden
  margin 0

.hidden
  display none